// 前景色使用 a-颜色名（如果与其他组件同名，则使用 a-fg-颜色名）
// 背景色使用 a-bg-颜色名
@import "vars";

.a-bg-primary {
  background-color: $color-primary;
}

.a-primary {
  color: $color-primary;
}

.a-warn {
  color: $color-warn;
}

.a-error {
  color: $color-error;
}

// 以上是有意义的类名
// ---------------
// 以下是纯颜色类名

.a-white {
  color: $color-white;
}

.a-gray {
  color: $color-gray;
}

.a-black {
  color: $color-black;
}

.a-lightgray {
  color: $color-lightgray;
}

.a-orange {
  color: $color-orange
}

.a-blue {
  color: $color-blue
}

.a-bg-blue {
  background-color: $color-blue;
}
