// 遮罩层
.a-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  will-change: opacity;
  transition: opacity 0.3s ease;

  &.a-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
